[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=Dima
WorkingDirectory=/home/Dima/reddit/
Environment=RAILS_ENV=production
ExecStart=/bin/bash -lc 'puma'
Restart=always
KillMode=process
TimeoutSec=45

[Install]
WantedBy=multi-user.target