[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=Dima
WorkingDirectory=/home/Dima/reddit/
Environment=RAILS_ENV=production
ExecStart=/usr/local/bin/puma -d
Restart=always
KillMode=process
TimeoutSec=15

[Install]
WantedBy=multi-user.target